input{
	padding: 8px 15px 8px 15px;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    border: 1px solid #6400E7; 
    font-size: 16px;
    letter-spacing: 1px
}

button {
   
    background-color:#6400E7;
    color: #fff;
    width: 10%;
    height:30px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

h1{
	color: #585959;
    font-weight: bold;
    padding-top: 10px; 
    padding-bottom: 10px; 
}